header {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

header .logo-container {
    vertical-align: middle;
    text-align: left;
}

.logo {
    display: block;
    background-image: url("../images/logo.png");
    width: 142px;
    height: 60px;
}